In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df.head()

,ID,Place,location,date,status,job_title,summary,positives,negatives,advice_to_mgmt,score_1,score_2,score_3,score_4,score_5,score_6,overall
0,1,startup_1,NaN,"Dec 11, 2018",Current Employee,Anonymous Employee,Best Company to work for,People are smart and friendly,Bureaucracy is slowing things down,NaN,4.0,5.0,5.0,4.0,5.0,0,5.0
1,2,startup_1,"Mountain View, CA","Jun 21, 2013",Former Employee,Program Manager,"Moving at the speed of light, burn out is inev...","1) Food, food, food. 15+ cafes on main campus ...",1) Work/life balance. What balance? All those ...,1) Don't dismiss emotional intelligence and ad...,2.0,3.0,3.0,5.0,3.0,2094,5.0
2,3,startup_1,"New York, NY","May 10, 2014",Current Employee,Software Engineer III,Great balance between big-company security and...,"* If you're a software engineer, you're among ...","* It *is* becoming larger, and with it comes g...",Keep the focus on the user. Everything else wi...,5.0,4.0,5.0,5.0,4.0,949,5.0
3,4,startup_1,"Mountain View, CA","Feb 8, 2015",Current Employee,Anonymous Employee,The best place I've worked and also the most d...,You can't find a more well-regarded company th...,I live in SF so the commute can take between 1...,Keep on NOT micromanaging - that is a huge ben...,2.0,5.0,5.0,4.0,5.0,498,4.0
4,10,startup_1,NaN,"Dec 9, 2018",Current Employee,Anonymous Employee,Execellent for engineers,Impact driven. Best tech in the world.,Size matters. Engineers are a bit disconnected...,NaN,5.0,5.0,5.0,5.0,5.0,0,4.0

In [4]:
df.isnull().sum()

ID                    0
Place                 0
location          11254
date                  0
status                0
job_title             0
summary              52
positives             0
negatives             0
advice_to_mgmt    13277
score_1            3186
score_2            6050
score_3            3169
score_4            3191
score_5            3485
score_6               0
overall               0
dtype: int64

In [5]:
df.location.fillna("",inplace=True)
df.summary.fillna("",inplace=True)
df.negatives.fillna("",inplace=True)
df.advice_to_mgmt.fillna("",inplace=True)


df.score_1.fillna(0.0,inplace=True)

df.score_2.fillna(0.0,inplace=True)

df.score_3.fillna(0.0,inplace=True)

df.score_4.fillna(0.0,inplace=True)

df.score_5.fillna(0.0,inplace=True)

In [6]:
df.date=df.date.apply(lambda x:x.split(',')[1])
df.date=df.date.astype('int32')

In [7]:
import nltk  

from nltk.corpus import stopwords   
from nltk.stem.porter import PorterStemmer 
sw=stopwords.words('english')
ps=PorterStemmer()

In [8]:
import string

In [9]:
def cleadtxt(s):
    s=s.translate(str.maketrans('', '', string.punctuation))
    s=s.lower()
    s=s.split(' ')
    s=[ps.stem(w) for w in s if w not in sw and w.isdigit()!=True and len(w)>3]
    s=' '.join(s)
    
    return s

In [10]:
df['desc']=df.summary+df.positives+df.negatives+df.advice_to_mgmt+df.location

In [11]:
'''
df.summary=df.summary.apply(lambda s:cleadtxt(s))
df.positives=df.positives.apply(lambda s:cleadtxt(s))
df.negatives=df.negatives.apply(lambda s:cleadtxt(s))
df.advice_to_mgmt=df.advice_to_mgmt.apply(lambda s:cleadtxt(s))
'''
df.desc=df.desc.apply(lambda s:cleadtxt(s))

In [12]:

from sklearn.feature_extraction.text import CountVectorizer 
cv=CountVectorizer(max_features=10000)
'''
cv1=CountVectorizer(max_features=5000)
cv2=CountVectorizer(max_features=5000)
cv3=CountVectorizer(max_features=2000)
cv4=CountVectorizer(max_features=2000)
cv5=CountVectorizer(max_features=2000)
'''

'\ncv1=CountVectorizer(max_features=5000)\ncv2=CountVectorizer(max_features=5000)\ncv3=CountVectorizer(max_features=2000)\ncv4=CountVectorizer(max_features=2000)\ncv5=CountVectorizer(max_features=2000)\n'

In [13]:
'''
x1=cv1.fit_transform(df.positives).toarray()  
x2=cv2.fit_transform(df.negatives).toarray()  
x3=cv3.fit_transform(df.summary).toarray()  
x4=cv4.fit_transform(df.advice_to_mgmt).toarray()  
x5=cv5.fit_transform(df.location).toarray()  
'''

f1=cv.fit_transform(df.desc).toarray()

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf=TfidfVectorizer()
f1=tf.fit_transform(df.desc).toarray()

MemoryError:

In [ ]:
f1.shape

In [ ]:
df.shape

In [ ]:
fr=pd.DataFrame(f1,columns=tf.get_feature_names())

In [ ]:
'''
fr1=pd.DataFrame(x1,columns=cv1.get_feature_names())
fr2=pd.DataFrame(x2,columns=cv2.get_feature_names())
fr3=pd.DataFrame(x3,columns=cv3.get_feature_names())
fr4=pd.DataFrame(x4,columns=cv4.get_feature_names())
fr5=pd.DataFrame(x5,columns=cv5.get_feature_names())
'''

In [ ]:
df_n=pd.concat([df,fr],axis=1)
y=df_n.overall

In [ ]:
df_n.drop(['ID','location','status','job_title','summary','positives','negatives','advice_to_mgmt','overall','desc'],axis=1,inplace=True)

In [ ]:
cols=df_n.select_dtypes(include=['object']).columns

In [ ]:
df_n=pd.get_dummies(df_n)

In [ ]:
'''
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
df_n[cols.values]=df_n[cols.values].apply(lambda x:lb.fit_transform(x))
'''
from sklearn.model_selection import train_test_split
X=df_n.values
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [ ]:
import xgboost as xgb

xr=xgb.XGBRegressor()

xr.fit(X_train,y_train)

In [ ]:
y_pred=xr.predict(X_test)

In [ ]:
y_pred=y_pred.astype('int32')

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_pred,y_test)

In [ ]:
df_n.dtypes

In [ ]:
from sklearn.ensemble import RandomForestRegressor

rf=RandomForestRegressor()

In [ ]:
rf.fit(X_train,y_train)

In [ ]:
y_pred=rf.predict(X_test)

In [ ]:
y_pred=y_pred.astype('int32')
accuracy_score(y_pred,y_test)

In [ ]:
dt=pd.read_csv('test.csv', encoding = "ISO-8859-1")

In [ ]:
dt.date.unique()

In [ ]:
dt.head()

In [ ]:
def getyear(s):
    
    s=s.split(',')
    if len(s) > 1:
        return s[1]
    else:
        return '0000'
    return '0000'

In [ ]:

dt.location.fillna("",inplace=True)
dt.summary.fillna("",inplace=True)
dt.negatives.fillna("",inplace=True)
dt.advice_to_mgmt.fillna("",inplace=True)


dt.score_1.fillna(0.0,inplace=True)

dt.score_2.fillna(0.0,inplace=True)

dt.score_3.fillna(0.0,inplace=True)

dt.score_4.fillna(0.0,inplace=True)

dt.score_5.fillna(0.0,inplace=True)


dt.date=dt.date.apply(lambda x:getyear(x))
dt.date=dt.date.astype('int32')
dt['desc']=dt.summary+dt.positives+dt.negatives+dt.advice_to_mgmt+dt.location
dt.desc=dt.desc.apply(lambda s:cleadtxt(s))

f1=tf.transform(dt.desc).toarray()
fr=pd.DataFrame(f1,columns=tf.get_feature_names())

dt_n=pd.concat([dt,fr],axis=1)
id1=dt_n.ID
dt_n.drop(['ID','location','status','job_title','summary','positives','negatives','advice_to_mgmt','desc'],axis=1,inplace=True)
cols=dt_n.select_dtypes(include=['object']).columns
dt_n=pd.get_dummies(dt_n)
X_n=dt_n.values

In [ ]:
dt.date

In [ ]:
y_pred=rf.predict(X_n)
y_pred=y_pred.astype('int32')

In [ ]:
df_n.dtypes

In [ ]:
dt_n.dtypes

In [ ]:
y_pred.shape

In [ ]:
op=pd.DataFrame({'ID':id1,'overall':y_pred})

In [ ]:
op.to_csv('submission1.csv',index=False)